.button {
  background-color: $brand-color;
  display: inline-block;
  padding: 0 15px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: 'PT Sans',sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 48px;
  height: 50px;
  transition: all 0.2s ease;
  &:hover {
    cursor: pointer;
    background-color: lighten($brand-color, 4%);
  }
  &#taotle-btn {
  }
  span.icon-note {
    display: inline-block;
    text-align: center;
    padding: 5px 0 5px 40px;
    position: relative;
    content: '';
    height: 41px;
    @media screen and (min-width: 770px) and (max-width: 585px) {
      font-size: 20px;
    }
    background:url($sprite-path) -10px -4px no-repeat;
    .no-svg & { background-image:url($sprite-png-path); }
  }
}