#header {
  background-color: #fff;
  height: 100px;
  a#logo {
    height: 100px;
    left:0;
    img {
      top: 22px;
      position: absolute;
    }
  }
  #email-address {
    color: $middle-grey-color;
    position: absolute;
    right: 0;
    top: 45px;
  }
}