#header {
  background-color: #fff;
  height: 100px;
  a#logo {
    height: 100px;
    left:0;
    img {
      top: 22px;
      position: absolute;
      @media screen and (max-width: $mobile-width) {
        top: 10px;
      }
    }
  }
  #email-address {
    cursor: default;
    color: $middle-grey-color;
    position: absolute;
    right: 0;
    line-height: 100px;
    @media screen and (max-width: $mobile-width) {
      right: 0;
      top: 30px;
      left: 49px;
    }
  }
}