// Color:

$brand-color: #458cc0;
$black-color: #231f20;
$middle-grey-color:#535e68;
$a-hover-color: #83aacb;
$light-grey-bg: #f8f8f8;
$dark-grey-bg: #edeeee;
$slider-bg: #cfd0d1;
$grey-text-color: #939393;


// Sizes

$default-width: 1024px;

// Border-radius

$default-border-radius: 6px;


// Predefined Break-points
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 627px;