/* RESET */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
/* line 3, ../scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../scss/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 13, ../scss/reset.scss */
body {
  line-height: 1;
}

/* line 14, ../scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 15, ../scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 16, ../scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 21, ../scss/reset.scss */
:focus {
  outline: none;
}

/* line 22, ../scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../scss/reset.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 30, ../scss/reset.scss */
input::-ms-clear {
  display: none;
}

/* line 31, ../scss/reset.scss */
input::-ms-reveal {
  display: none;
}

/* line 33, ../scss/reset.scss */
legend {
  display: none;
}

/* line 1, ../scss/button.scss */
.button {
  background-color: #458cc0;
  display: inline-block;
  padding: 0 15px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: 'PT Sans',sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 48px;
  height: 50px;
  transition: all 0.2s ease;
}
@media screen and (max-width: 770px) {
  /* line 1, ../scss/button.scss */
  .button {
    font-size: 20px;
    line-height: 2.2;
  }
}
/* line 25, ../scss/button.scss */
.button:hover {
  cursor: pointer;
  background-color: #5495c5;
}
/* line 31, ../scss/button.scss */
.button span.icon-note {
  display: inline-block;
  text-align: center;
  padding: 3px 0 5px 40px;
  position: relative;
  content: '';
  height: 41px;
  background: transparent url("../images/sprite.png") -10px -4px no-repeat;
}
@media screen and (min-width: 585px) and (max-width: 810px) {
  /* line 31, ../scss/button.scss */
  .button span.icon-note {
    font-size: 20px;
  }
}
/* line 43, ../scss/button.scss */
.no-svg .button span.icon-note {
  background-image: url("../images/sprite.png");
}

/* line 1, ../scss/content.scss */
html {
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 8, ../scss/content.scss */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 336px) {
  /* line 8, ../scss/content.scss */
  body {
    overflow-x: hidden;
  }
}

/* line 16, ../scss/content.scss */
a {
  text-decoration: none;
  color: #535e68;
}
/* line 19, ../scss/content.scss */
a:hover, a:focus {
  color: #83aacb;
}

/* line 24, ../scss/content.scss */
#email-address a {
  transition: all 0.2s ease;
}

/* line 29, ../scss/content.scss */
h2 {
  color: #458cc0;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
}

/* line 36, ../scss/content.scss */
h4 {
  text-transform: uppercase;
  margin: 0 0 4px;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-align: center;
}

/* line 46, ../scss/content.scss */
.sub-div {
  background-color: #458cc0;
  height: 216px;
}

/* line 51, ../scss/content.scss */
.wrapper {
  max-width: 1024px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  /* line 51, ../scss/content.scss */
  .wrapper {
    max-width: 96%;
  }
}
@media screen and (max-width: 770px) {
  /* line 51, ../scss/content.scss */
  .wrapper {
    max-width: 90%;
  }
}

/* line 64, ../scss/content.scss */
#content {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #fff;
  width: 100%;
  height: 380px;
  top: -145px;
  position: absolute;
}
/* line 72, ../scss/content.scss */
#content .col-left {
  background-color: #fff;
  width: 63%;
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  height: 380px;
  float: left;
}
@media screen and (max-width: 770px) {
  /* line 73, ../scss/content.scss */
  #content .col-left h2 {
    padding-left: 30px;
  }
}
@media screen and (max-width: 400px) {
  /* line 73, ../scss/content.scss */
  #content .col-left h2 {
    width: 265px;
  }
}
@media screen and (max-width: 770px) {
  /* line 72, ../scss/content.scss */
  #content .col-left {
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  /* line 72, ../scss/content.scss */
  #content .col-left {
    height: auto;
    padding-bottom: 20px;
  }
}
/* line 94, ../scss/content.scss */
#content .col-left .content {
  padding: 70px 20px 40px 70px;
}
@media screen and (max-width: 770px) {
  /* line 94, ../scss/content.scss */
  #content .col-left .content {
    padding: 20px 0 0 0;
  }
}
/* line 99, ../scss/content.scss */
#content .col-left .content ol {
  display: block;
  padding: 0 0 0 26px;
  list-style: none;
  overflow: hidden;
  counter-reset: numList;
  margin-top: 20px;
}
@media screen and (max-width: 770px) {
  /* line 99, ../scss/content.scss */
  #content .col-left .content ol {
    margin-left: 30px;
    padding-right: 30px;
  }
}
/* line 111, ../scss/content.scss */
#content .col-left .content ol li {
  width: 100%;
  margin-right: 44px;
  float: left;
  left: 15px;
  line-height: 43px;
  position: relative;
  font-size: 20px;
}
@media screen and (max-width: 520px) {
  /* line 111, ../scss/content.scss */
  #content .col-left .content ol li {
    font-size: 17px;
    line-height: 36px;
  }
}
/* line 124, ../scss/content.scss */
#content .col-left .content ol li:before {
  counter-increment: numList;
  content: counter(numList);
  float: left;
  position: absolute;
  left: -41px;
  font-size: 19px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background: #458cc0;
  -moz-border-radius: 999px;
  border-radius: 999px;
  top: 7px;
}
@media screen and (max-width: 520px) {
  /* line 124, ../scss/content.scss */
  #content .col-left .content ol li:before {
    top: 5px;
    width: 26px;
    height: 26px;
    line-height: 25px;
  }
}
/* line 149, ../scss/content.scss */
#content .col-right {
  background-color: #edeeee;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  width: 37%;
  height: 380px;
  float: right;
}
@media screen and (max-width: 770px) {
  /* line 149, ../scss/content.scss */
  #content .col-right {
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
  }
}
@media screen and (max-width: 770px) {
  /* line 149, ../scss/content.scss */
  #content .col-right {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* line 162, ../scss/content.scss */
#content .col-right .total-value {
  color: #231f20;
  font-size: 40px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
}
/* line 170, ../scss/content.scss */
#content .sub {
  position: relative;
}
/* line 172, ../scss/content.scss */
#content .sub .turva-logo {
  position: absolute;
  left: 40px;
  top: 13px;
  width: 200px;
}
/* line 177, ../scss/content.scss */
#content .sub .turva-logo span {
  font-size: 13px;
}
/* line 179, ../scss/content.scss */
#content .sub .turva-logo span.big-title {
  position: absolute;
  width: 200px;
  text-transform: capitalize;
  top: 2px;
  left: 35px;
  cursor: default;
}
/* line 187, ../scss/content.scss */
#content .sub .turva-logo span.small-title {
  position: absolute;
  width: 200px;
  text-transform: uppercase;
  top: 17px;
  left: 35px;
  cursor: default;
}
/* line 198, ../scss/content.scss */
#content .sub .read-more {
  position: absolute;
  right: 40px;
  color: #458cc0;
  font-size: 15px;
  line-height: 60px;
}
/* line 204, ../scss/content.scss */
#content .sub .read-more:before {
  content: '> ';
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #B1B1B1;
}
@media screen and (min-width: 771px) and (max-width: 978px) {
  /* line 198, ../scss/content.scss */
  #content .sub .read-more {
    line-height: 120px;
    left: 40px;
  }
}
@media screen and (max-width: 404px) {
  /* line 198, ../scss/content.scss */
  #content .sub .read-more {
    line-height: 120px;
    left: 40px;
  }
}

/* line 1, ../scss/header.scss */
#header {
  background-color: #fff;
  height: 100px;
}
/* line 4, ../scss/header.scss */
#header a#logo {
  height: 100px;
  left: 0;
}
/* line 7, ../scss/header.scss */
#header a#logo img {
  top: 22px;
  position: absolute;
}
@media screen and (max-width: 627px) {
  /* line 7, ../scss/header.scss */
  #header a#logo img {
    top: 10px;
  }
}
/* line 15, ../scss/header.scss */
#header #email-address {
  cursor: default;
  color: #535e68;
  position: absolute;
  right: 0;
  line-height: 100px;
}
@media screen and (max-width: 627px) {
  /* line 15, ../scss/header.scss */
  #header #email-address {
    right: 0;
    top: 30px;
    left: 49px;
  }
}

/* line 1, ../scss/form.scss */
form {
  padding: 20px 40px;
  position: relative;
}
/* line 4, ../scss/form.scss */
form #email {
  width: 100%;
  height: 50px;
  padding: 0 40px 0 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  box-sizing: border-box;
  color: #535e68;
  font-size: 20px;
  outline: none;
}
/* line 16, ../scss/form.scss */
form .email-wrapper {
  margin-top: 50px;
  position: relative;
}
/* line 19, ../scss/form.scss */
form .email-wrapper:after {
  content: "@";
  width: 38px;
  height: 48px;
  color: #8f8e8e;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  background: #eceeee;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 1px;
  right: 1px;
}
/* line 35, ../scss/form.scss */
form label.error {
  display: block;
  color: red;
  font-size: 14px;
  line-height: 0;
  position: absolute;
  top: 120px;
}
/* line 42, ../scss/form.scss */
form label.error:before {
  content: '*';
}
/* line 48, ../scss/form.scss */
form ::-webkit-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  color: #535e68;
  line-height: 22px;
}
/* line 54, ../scss/form.scss */
form :-moz-placeholder {
  /* Firefox 18- */
  font-family: 'PT Sans', sans-serif;
  color: #535e68;
  line-height: 22px;
}
/* line 60, ../scss/form.scss */
form ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'PT Sans', sans-serif;
  color: #535e68;
  line-height: 22px;
}
/* line 66, ../scss/form.scss */
form :-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  color: #535e68;
  line-height: 22px;
}

/* line 1, ../scss/slider.scss */
#slider {
  margin: 30px 0;
  height: 7px;
  background: #cfd0d1;
  border: 0;
  border-radius: 3px;
  position: relative;
  box-shadow: none;
}

/* line 10, ../scss/slider.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -0.8em !important;
}
/* line 12, ../scss/slider.scss */
.ui-slider-horizontal .ui-slider-handle:hover {
  cursor: pointer;
}
/* line 15, ../scss/slider.scss */
.ui-slider-horizontal .ui-slider-handle:before {
  content: '\20AC';
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  position: absolute;
  left: 11px;
  top: 8px;
  font-size: 19px;
}

/* line 27, ../scss/slider.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border-radius: 35px;
  width: 35px !important;
  height: 35px !important;
  border: none !important;
  background-color: #458cc0 !important;
}

/* line 35, ../scss/slider.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-color: #5495c5 !important;
}

/* line 47, ../scss/slider.scss */
.label-min-value {
  position: absolute;
  left: 40px;
  top: 135px;
  color: #939393;
  font-size: 14px;
  cursor: default;
}

/* line 56, ../scss/slider.scss */
.label-max-value {
  position: absolute;
  right: 40px;
  top: 135px;
  color: #939393;
  font-size: 14px;
  cursor: default;
}

/* line 1, ../scss/dialog.scss */
.modalDialog {
  position: fixed;
  font-family: 'PT Sans', sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2NkYGCoZ6AAMI4awDAaBgyjYcAwLMIAAClPCAHRrlQFAAAAAElFTkSuQmCC);
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
/* line 13, ../scss/dialog.scss */
.modal-open .modalDialog {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 9999999999;
}

/* line 25, ../scss/dialog.scss */
.modalDialog > div {
  width: 650px;
  height: 170px;
  position: relative;
  margin: 20% auto;
  padding: 20px;
  background: #fff;
}
@media screen and (max-width: 670px) {
  /* line 25, ../scss/dialog.scss */
  .modalDialog > div {
    width: 80%;
  }
}
/* line 35, ../scss/dialog.scss */
.modalDialog > div h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  cursor: default;
}

/* line 42, ../scss/dialog.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
