/* RESET */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
/* line 3, ../scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../scss/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 13, ../scss/reset.scss */
body {
  line-height: 1;
}

/* line 14, ../scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 15, ../scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 16, ../scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 21, ../scss/reset.scss */
:focus {
  outline: none;
}

/* line 22, ../scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../scss/reset.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 30, ../scss/reset.scss */
input::-ms-clear {
  display: none;
}

/* line 31, ../scss/reset.scss */
input::-ms-reveal {
  display: none;
}

/* line 33, ../scss/reset.scss */
legend {
  display: none;
}

/* line 1, ../scss/content.scss */
html {
  background-color: #f8f8f8;
}

/* line 5, ../scss/content.scss */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

/* line 10, ../scss/content.scss */
a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: #458cc0;
}
/* line 14, ../scss/content.scss */
a:hover, a:focus {
  color: #83aacb;
}

/* line 19, ../scss/content.scss */
h2 {
  color: #458cc0;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
}

/* line 26, ../scss/content.scss */
.sub-div {
  background-color: #458cc0;
  height: 216px;
}

/* line 31, ../scss/content.scss */
.wrapper {
  max-width: 1024px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  /* line 31, ../scss/content.scss */
  .wrapper {
    max-width: 96%;
  }
}

/* line 42, ../scss/content.scss */
#content {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fff;
  width: 100%;
  height: 380px;
  top: -145px;
  position: absolute;
}
/* line 50, ../scss/content.scss */
#content .col-left {
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  width: 65%;
  height: 380px;
  float: left;
}
/* line 56, ../scss/content.scss */
#content .col-left .content {
  padding: 70px 40px 40px 70px;
  width: 70%;
}
/* line 59, ../scss/content.scss */
#content .col-left .content ul {
  margin-top: 20px;
}
/* line 61, ../scss/content.scss */
#content .col-left .content ul li {
  margin-left: -10px;
  line-height: 46px;
  font-size: 20px;
  color: #231f20;
}
/* line 64, ../scss/content.scss */
#content .col-left .content ul li span {
  position: absolute;
  left: 10px;
  top: 2px;
}
/* line 69, ../scss/content.scss */
#content .col-left .content ul li span.circle {
  color: #fff;
  background-color: #458cc0;
  border-radius: 20px;
  font-size: 19px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-weight: bold;
  line-height: 29px;
  margin-right: 20px;
  position: relative;
  top: 8px;
}
/* line 90, ../scss/content.scss */
#content .col-right {
  background-color: #edeeee;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  width: 35%;
  height: 380px;
  float: right;
}

/* line 1, ../scss/header.scss */
#header {
  background-color: #fff;
  height: 100px;
}
/* line 4, ../scss/header.scss */
#header a#logo {
  height: 100px;
  left: 0;
}
/* line 7, ../scss/header.scss */
#header a#logo img {
  top: 22px;
  position: absolute;
}
/* line 12, ../scss/header.scss */
#header #email-address {
  cursor: default;
  color: #535e68;
  position: absolute;
  right: 0;
  top: 45px;
}
